@charset "utf-8";
body{
	background-color: #FCF2B8;
}

header{
	width: 100%;
	height: 721px;;
	margin: 0px;
	background-image: url("../images/img_01.jpg");
	background-no-repeat:no-repeat;
	background-size: 100%, 100%;
	display: flex;
	flex-direction: column;
	
	}
nav{
	font-family: "Open Sans";
	font-size: 16pt;
	color: black;
}

img{
	float: right bottom;
	position: fixed;
}

.menu{
	font-family: "Open Sans";
	font-size: 18pt;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	padding-top: 70px;
	margin-left: 550px;
}

.menu div{
	padding-right: 100px;
}

.menu a{
	color: #0B0D40;
	text-decoration: none;
	display: block;
}

.menu a:hover{
	transform: scale(1.1);
	border-bottom: groove 1px;
	border-color: #FFFFFF;
}

.main{
	margin: center;
	color: #0B0D40;
}

.main h1{
	font-family: "Roboto Condensed";
	font-size: 71px;
	border-bottom: solid 2px;
	text-transform: uppercase;
	text-align: center
}

.main div{
	font-family: "Open Sans Light";
	font-size: 18pt;
	font-style: italic;
	text-align: center;
}

.main p{
	float: center;
}

.about_me{
	margin-top: 70px;
	width: 100%;
	height: auto;
}

.about_me h1{
	font-family: "Roboto Condensed";
	font-weight: bold;
	font-size: 60pt;
	text-align: center;
	text-transform: uppercase;
	background-color: #E87864;
	-webkit-background-clip: text;
	color: transparent;
	margin-bottom: 70px;
}
